@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: none;
}

@tailwind components;
@tailwind utilities;

/* * {
    outline: 1px dashed red;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {
    --toastify-color-error: #EF4444 !important;
    --toastify-color-success: ##22C55E !important;
}

.Toastify__toast {
    border-radius: 10px !important;
}

/* 
primary color: BFA2E5
main black text: #2c3e50
subtext : #6A6A6A
error red: red-500 #EF4444
*/